version: "3.8"

services:
  go-stream:
    build:
      context: ./       
      dockerfile: Dockerfile
    container_name: go-stream
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "8080:8080"

  redis:
    image: redis
    container_name: go_kafka_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis-data:
    driver: local